@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #000123;
}

header {
  height: 10vh;
  background-color: #000123;
}

#logo {
  grid-area: logo;
}
#logo img {
  height: 100px;
  width: 100px;
}

#nav-menu {
  grid-area: menu;
}

#nav-button {
  grid-area: button;
  padding: 10px;
  font-size: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo . button" "menu menu menu";
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #000123;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-menu li {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.nav-menu li a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  color: white;
}
.nav-menu li a:hover {
  color: black;
  background-color: white;
  font-weight: bold;
}

@media (min-width: 1024px) {
  nav {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr auto;
    grid-template-areas: "logo . menu";
    align-items: center;
  }
  #logo {
    margin-left: 100px;
    width: 50%;
  }
  .nav-menu {
    flex-direction: row;
    justify-content: end;
  }
  .nav-menu li {
    height: 50%;
  }
  .nav-menu li a {
    width: 50%;
  }
  #nav-button {
    display: none;
  }
}
.d-none {
  display: none;
}

footer {
  height: 15vh;
  background-color: #000123;
  color: white;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black;
}
footer div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-title {
  font-size: 20px;
  font-weight: bold;
}
footer .footer-text {
  font-size: 15px;
  padding-top: 5px;
}
footer .footer-redes {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-redes li {
  margin: 5px;
}
footer .footer-redes li a {
  color: black;
  text-decoration: none;
  color: white;
}
footer .footer-redes li a:hover {
  font-weight: bold;
}

main {
  height: 65vh;
  width: 100%;
  background-image: url(../img/vgse2C-XoBNuTLoGkeA6qA==.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
main h1 {
  font-size: 40px;
  text-align: center;
  background-color: transparent;
}

.section-main {
  display: flex;
  flex-direction: column;
  color: white;
}
.section-main article {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-main article div {
  width: 100%;
}
.section-main article img {
  height: 300px;
  width: 40vw;
}
.section-main article h2 {
  font-size: 30px;
  color: #ff0f7b;
  margin: 5px;
  text-align: center;
}
.section-main article p {
  text-align: center;
  margin: 20px;
}
.section-main article a {
  color: black;
  text-decoration: none;
  background-color: #ff0f7b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

@media (min-width: 768px) {
  main h1 {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  main h1 {
    font-size: 60px;
  }
}

/*# sourceMappingURL=styles.css.map */
