@use "./variables";

main {
    @include variables.img-hw(65vh, 100%);
    background-image: url(../img/vgse2C-XoBNuTLoGkeA6qA==.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 40px;
        text-align: center;
        background-color: transparent;
    }
}

.section-main {
    display: flex;
    flex-direction: column;
    color: white;

    article {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 100%;
        }

        img {
            @include variables.img-hw(300px, 40vw);
        }

        h2 {
            font-size: 30px;
            color: #ff0f7b;
            margin: 5px;
            text-align: center;
        }

        p {
            text-align: center;
            margin: 20px
        }

        a {
            @include variables.reset-a;
            background-color: #ff0f7b;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
        }
    }
}

@media (min-width: variables.$screen-size-medium) {
    main {
        h1 {
            font-size: 50px;
        }
    }
}

@media (min-width: variables.$screen-size-large) {
    main {
        h1 {
            font-size: 60px;
        }
    }
}