@use "./variables";

main {
    height: 75vh;
    width: 100%;
    background-image: url(../img/vgse2C-XoBNuTLoGkeA6qA==.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    text-align: center;
}

@media (min-width: variables.$screen-size-medium) {
    main {
        font-size: 30px;
    }
}

@media (min-width: variables.$screen-size-large) {
    main {
        font-size: 40px;
    }
}