@use "./variables";

.h1-resenas {
    @include variables.h1-title;
}

.container-resenas {
    display: flex;
    flex-direction: column;
}

.resenas {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        @include variables.img-hw(250px, 250px);
    }

    h2 {
        color: variables.$backgroud-secondary;
        margin: 20px;
    }

    p {
        color: white;
        margin: 20px;
    }
}

@media (min-width: variables.$screen-size-large) {
    .container-resenas {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .resenas {
        width: 50%;
    }
}